h1 {
  color: black;
  background-color: lightblue;
  text-align: center;
  font-size: 3rem;
}

h2 {
  color: blue;
  font-size: 2rem;
  margin-top: 100px;
}

 li {
    font-size: 1.5rem;
 }

section {
    margin-left: 10%;
    margin-top: 30px;
}

input {
    margin-left: 15%;
}