h1 {
  background-color: lightblue;
  text-align: center;
  font-size: 3rem;
}

h2 {
  color: blue;
  font-size: 2rem;
  margin-top: 100px;
}

li {
  font-size: 1.5rem;
}

section {
  margin-left: 10%;
  margin-top: 30px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: lightgrey;
  font-size: 1rem;
}
